<div class="slot-machine">
    <app-slot-machine-rollers 
        [items]="items"
        [rollerCount]="rollerCount"
        [isRolling]="isRolling"
        (rollComplete)="onRollComplete($event)">
    </app-slot-machine-rollers>
    
    <!-- After Roll Notification -->
    <div class="after-roll-notification" *ngIf="showAfterRollNotification">
        {{ afterRollNotificationText }}
    </div>
    
    <slot-machine-controls 
        [items]="items"
        (rollStart)="onRollStart()">
    </slot-machine-controls>
</div>