<div class="arduino-control-panel" [class.disabled]="isMobile">
    <div class="arduino-status">
        <div [ngClass]="getStatusIndicatorClass()"></div>
        <span class="arduino-status-text">{{ getStatusText() }}</span>
    </div>
    <button 
        class="arduino-connect-button"
        [disabled]="isButtonDisabled()"
        (click)="toggleConnection()">
        {{ getButtonText() }}
    </button>
</div>
<div *ngIf="isMobile" class="arduino-disabled-note">
    ⚠ Arduino control is not available on mobile devices
</div>
