<div class="roll-controls">
    <!-- Rolling Notification -->
    <div class="rolling-notification" *ngIf="showRollingNotification">
        {{ rollingNotificationText }}
    </div>
    
    <!-- Win Notification -->
    <div class="win-notification" *ngIf="showWinNotification">
        {{ winNotificationText }}
    </div>
    
    <!-- After Roll Notification -->
    <div class="after-roll-notification" *ngIf="showAfterRollNotificationOverlay">
        {{ afterRollNotificationText }}
    </div>
    
    <button 
        id="rollButton"
        *ngIf="!showArduinoInstruction && showButtonTextRoll && !isRolling && !isInWinState"
        [disabled]="rollButtonDisabled"
        (click)="onRollClick()">
        {{ rollButtonText }}
    </button>
    <div 
        id="arduinoInstruction" 
        class="arduino-instruction"
        *ngIf="showArduinoInstruction && showButtonTextArduino && !isRolling && !isInWinState">
        {{ arduinoInstructionText }}
    </div>
</div>